# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Variáveis de ambiente / segredos locais
.env
.env.local
application-local.yml
application-local.properties

# Docker
docker-compose.override.yml